.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active{
    color: gold;
}

.messages {
    padding: 10px;
}

/*.messages .message {*/
/*    background-color: darkseagreen;*/
/*    padding: .5em;*/
/*    border-radius: 4px 4px 4px 0;*/
/*}*/